#header {
    background-color: #222;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    font-size: 14px;
}

#header > div:not(:last-child){
    float: left;
}

#header div a {
    color: #fff;
    cursor: pointer;
}

#header::after {
    content: '';
    display: block;
    clear: both;
}

#left_nav {
    float: left;
}

#left_nav > div {
    float: left;
}

#left_nav::after {
    content: '';
    display: block;
    clear: both;
}

#header_download_app {
    padding: 0 10px;
    border-right: 1px solid #3a3a3a;
}

#header_sign_up {
    padding: 0 10px;
}

#header_weather {
    padding-left: 7px;
    cursor: pointer;
}

#header_weather span {
    margin-right: 8px;
    color: #fff;
}

.header_weather_icon:before {
    content: "\e607";
    clear: both;
}

#right_nav {
    float: right;
}

#right_nav > div {
    float: left;
    padding: 0 10px;
}

#complaint {
    border-right: 1px solid #3a3a3a;
}