.content {
    /* margin-left: -40px; */
    width: inherit;
    font-size: 12px;
    line-height: 1.14;
    text-align: left;
}

.content-list {
    width: inherit;
    border: 1px #777 dashed;
    padding: 10px 0;
}

.content-card {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

.content-card::after {
    content: '';
    display: block;
    clear: both;
}

.content-text-card {
    position: relative;
    height: 100%;
}

.title {
    font-size: 20px;
    text-align: left;
    line-height: 1.3;
    margin-bottom: 4px;
    font-weight: 700;
    max-height: 52px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title a {
    color: #222222;
}

.title a:hover {
    color: #406599;
}

.content-foot {
    margin-top: 10px;
    height: 20px;
}

.content-foot a, .content-foot span
 {
    display: inline-block;
    color: #777777;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
}

.content-foot a:hover {
    color: #406599;
}

.tag {
    font-size: 12px!important;
    color: #87a5b5!important;
    border: 1px solid #87a5b5;
    margin-right: 10px;
    padding: 1px 2px;
}

.avatar {
    color: #fff;
    margin-right: 2px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    background-color: #eee;
    overflow: hidden;
    position: relative;
}

.avatar img {
    width: 100%;
}

.dislike {
    float: right;
    position: relative;
    z-index: 2;
    color: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 8px;
    transition: width .3s ease;
    white-space: nowrap;
    box-sizing: border-box;
    user-select: none;
}

.dislike:hover {
    background-color: #f85959;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    width: 72px;
}

.dislike-icon::before {
    content: '×';
}

.dislike-icon {
    font-size: 16px;
    color: #ddd;
    font-family: ttIcons!important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
}

.content-image {
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    width: 158px;
    margin-right: 16px;
    line-height: 1;
    float: left;
}

.content-image a {
    text-align: center;
}

.content-image:hover img {
    transform: matrix(1.04, 0, 0, 1.04, 0, 0);
    backface-visibility: hidden;
}

.content-image img {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
    transition: all .5s ease-out .1s;
}

.has-image {
    width: 486px;
    vertical-align: middle;
    margin-top: auto;
    float: left;
}

.has-image::before {
    content: "";
    width: 0;
    font-size: 0;
    height: 100%;
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
}

.content-image::before {
    content: '';
    vertical-align: middle;
    visibility: hidden;
    width: 0;
}

.video-tip::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 8px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 4px 6px;
}

.video-tip {
    position: absolute;
    right: 8px;
    bottom: 8px;
    padding: 0 6px 0 18px;
    border-radius: 10px;
    background: #000;
    background: rgba(0,0,0,.7);
    font-style: normal;
    font-size: 12px;
    color: #fff;
    height: 22px;
    line-height: 22px;
}

.video-tip span {
    color: #fff;
}